.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: auto;
  border-radius: 50px;
}

.img-produit {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
a {
  text-decoration: none;
  color: #000;
}
.card-text {
  font-size: 0.8rem;
}
.prix {
  font-weight: 700;
}
.btn-card {
  background-color: #fdd90b;
}
.btn-card:hover {
  background-color: #da001e;
  color: #fff;
}
