<header>
  <app-header></app-header>
</header>
<main class="py-5">
  <div class="card card-about text-center container">
    <section class="card-body">
      <h1 class="title-about card-title">Notre histoire</h1>
      <p class="card-text text-about">
        Bienvenue <span class="text-important">Au petit village</span>, où nous
        donnons vie aux héros légendaires d'Astérix & Obélix à travers des
        <span class="text-important">figurines faites main.</span> Notre passion
        pour ces personnages emblématiques se traduit dans chaque création,
        conçue avec soin et précision pour capturer l'essence de cet univers
        gaulois intemporel.
      </p>
      <p class="card-text text-about">
        Chaque figurine est réalisée à la main par des artisans passionnés,
        soucieux de proposer des objets uniques, qui allient tradition et
        savoir-faire. Que ce soit pour enrichir une collection ou pour offrir un
        cadeau spécial, nos figurines sont conçues pour plaire aux amoureux
        d'<span class="text-important">Astérix & Obélix</span> et à tous ceux
        qui apprécient l'artisanat authentique.
      </p>
      <p class="card-text text-about">
        <span class="text-important">Au petit village</span>, nous croyons que
        l’artisanat de qualité mérite d’être célébré. Nous sommes fiers de vous
        offrir des créations qui ravivent des souvenirs tout en apportant une
        touche d’originalité et d’authenticité à votre intérieur. Plongez dans
        l’univers de ces irréductibles Gaulois avec nos figurines, pensées pour
        durer et être chéries pendant des années.
      </p>
    </section>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>
