body{
    background-color: #F9D0A3;
}
.card-about {
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 700px;
}
.text-important{
    font-weight: 700;
    color: #DA001E;
}